body {
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: aliceblue;
}

.day {
    width: 50%;
    text-align: left;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.date-groupe {
    display: flex;
    gap: 10%;
    justify-content: center;
}